.recipe-form{
  width: 70vmin;

}
label{
  font-weight: bold;
}
p{
  color:red
}
.fa-plus{
  background-color: var(--black);
  color: #fff;
  padding: 7px;
  border-radius: 2px;
}
.ingredients{
  margin-top: 3px;

}
