<div class="contact-form">
  <form>
    <h1>Contact Us</h1>

    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" placeholder="Email" id="exampleInputPassword1">
    </div>
    <div>
      <textarea class="form-control" name="massage" id="massage" cols="30" rows="10"
        placeholder=" Your massage"></textarea>
    </div>
    <button type="submit" class="btn ">Send</button>
  </form>
</div>
