.contact-form {
  height: 100vh;
  background-image: url(../../../assets/img/food-bac.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  /* width: 60vmin; */
  min-width: 60vmin;
  height: 500px;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}
form input,
textarea {
  display: inline-block;
  background: rgba(255, 255, 255, 0.35);
}
form input::placeholder,
textarea::placeholder {
  color: #000;
}
form input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.35);
}
textarea {
  resize: none;
  height: 250px;
}
.btn {
  background-color: var(--black);
  color: #fff;
}
.btn:hover {
  background: rgba(0, 0, 0, 1);
}

