
<div class="searsh">
  <div class="mb-3  " >
    <form #recipeForm class="inp" (submit)="searsh(recipeForm)">
    <label for="staticEmail" class="col-sm-2 col-form-label">recipe Searsh</label>
    <div class="col-sm-10 col-lg-4 ">
      <input  name="recipeName" type="search"  class="form-control bg-light" id="staticEmail" [(ngModel)]="recipeName" >
    </div>
  </form>
  </div>

</div>
<div class="content ">
  <p class="searsh-result">Search Result for : {{searshresult}}</p>

  <div>
    <h3 class="sub-heading">Our recipe </h3>
    <h1 class="heading">popular recipe</h1>
  </div>
  <div class="content-items container">

    <div *ngFor="let i of recipes">
      <app-item-card [recipe]="i"></app-item-card>

    </div>

    <div class="spanner" *ngIf="!recipes?.length">

      <div>
        <img src="../../../assets/img/dish-spinner-removebg-preview.png" alt="">
        <span>Loading...</span>
      </div>
    </div>
  </div>

</div>
