<div class="swiper mySwiper  container home-slider">
  <div class="swiper-wrapper">

    <div class="swiper-slide home-slid">


      <div class="swiper-slide-string">
        <span>Our special dish</span>
        <h3>spicy noodls</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nobis id .

        </p>
        <!-- <a href="" class="btn"> Order Now </a> -->
      </div>
      <div class="swiper-slide-image">
        <img src="../../../assets/img/menu1.jpg" class="d-block w-100" alt="...">
      </div>


    </div>
    <div class="swiper-slide home-slid">


      <div class="swiper-slide-string">
        <span>Our special dish</span>
        <h3>spicy noodls</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nobis id .

        </p>
        <!-- <a href="" class="btn"> Order Now </a> -->
      </div>
      <div class="swiper-slide-image">
        <img src="../../../assets/img/menu1.jpg" class="d-block w-100" alt="...">
      </div>


    </div>

  </div>

</div>

<div class="about-section">
  <div>
    <h3 class="sub-heading">About Us </h3>
    <h1 class="heading">WHY CHOOSE US?
    </h1>
  </div>
  <div>
    <div class="about-content container">
      <div class="image">
        <img src="../../../assets/img/about-imge.jpg" alt="">
      </div>
      <div class="aboute-text">
        <h1>Beast Food In The Country </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio reiciendis laboriosam, nihil ad culpa
          esse iusto eius. Necessitatibus doloremque exercitationem provident obcaecati cum consectetur dignissimos in,
          dicta excepturi modi nemo! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur error
          laboriosam voluptatibus vel cum fuga natus in molestiae, molestias magni saepe eos dolor rerum! Aliquid est
          odio omnis hic error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eaque, nemo fugit
          tempore impedit quo perspiciatis ad ipsa iure nisi hic illum, porro, esse exer</p>
          <div class="about-icons">
            <div class="icons">
                <i class="fas fa-shipping-fast"></i>
                <span>Free Delivary</span>
            </div>
            <div class="icons">
                <i class="fas fa-dollar-sign"></i>
                <span>easy payment</span>
            </div>
            <div class="icons">
                <i class="fas fa-headset"></i>
                <span>24/7 service</span>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="rivew">

  <div>
    <h3 class="sub-heading">Customer's Review </h3>
    <h1 class="heading">WHAT THAY SAY</h1>
  </div>

  <div class="rivew-slider swiper  container rivew-swiper">

    <div class="reviw-wrapper swiper-wrapper">
      <div class="revew-slide swiper-slide">
        <i class="fas fa-quote-right"></i>

        <div class="user-data">
          <img src="../../../assets/img/user2.jpg" alt="">
          <div class="user-star">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>

            <div class="user-name">sam del</div>
          </div>
        </div>
        <div class="user-coment">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, voluptates. Eum sunt ab ullam voluptas
            cumque velit, aliquid, quos fuga quaerat minus eius corrupti quidem laudantium provident repudiandae
            molestias aperiam?
          </p>
        </div>

      </div>

      <div class="revew-slide swiper-slide">
        <i class="fas fa-quote-right"></i>

        <div class="user-data">
          <img src="../../../assets/img/user3.jpg" alt="">
          <div class="user-star">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>

            <div class="user-name">sam del</div>
          </div>
        </div>
        <div class="user-coment">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, voluptates. Eum sunt ab ullam voluptas
            cumque velit, aliquid, quos fuga quaerat minus eius corrupti quidem laudantium provident repudiandae
            molestias aperiam?
          </p>
        </div>

      </div>

      <div class="revew-slide swiper-slide">
        <i class="fas fa-quote-right"></i>

        <div class="user-data">
          <img src="../../../assets/img/user4.jpg" alt="">
          <div class="user-star">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>

            <div class="user-name">sam del</div>
          </div>
        </div>
        <div class="user-coment">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, voluptates. Eum sunt ab ullam voluptas
            cumque velit, aliquid, quos fuga quaerat minus eius corrupti quidem laudantium provident repudiandae
            molestias aperiam?
          </p>
        </div>

      </div>

      <div class="revew-slide swiper-slide">
        <i class="fas fa-quote-right"></i>

        <div class="user-data">
          <img src="../../../assets/img/user2.jpg" alt="">
          <div class="user-star">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>

            <div class="user-name">sam del</div>
          </div>
        </div>
        <div class="user-coment">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, voluptates. Eum sunt ab ullam voluptas
            cumque velit, aliquid, quos fuga quaerat minus eius corrupti quidem laudantium provident repudiandae
            molestias aperiam?
          </p>
        </div>

      </div>
    </div>

  </div>

</div>
