<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand " routerLink="">
      <img src="../../../assets/img/logo-rest4.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  ms-5 home">
        <li class="nav-item">
          <a class="nav-link  " aria-current="page" routerLink="">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1" routerLink="contact">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " tabindex="-1" routerLink="recipePage" *ngIf="auths.setoginstatus()">recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " tabindex="-1" routerLink="cocktailPage" *ngIf="auths.setoginstatus()">cocktail</a>
        </li>


      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  ms-5 reg">
          <li class="nav-item">
            <a class="nav-link" routerLink="userProfile" *ngIf="auths.setoginstatus()">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" *ngIf="!auths.setoginstatus()">register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="login" *ngIf="!auths.setoginstatus()">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btun" *ngIf="auths.setoginstatus()" (click)="logOut()">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
