<div class="revew-slide ">
  <i class="fas fa-quote-right"></i>

  <div class="user-data">
    <img [src]="comment?.userImage"  onerror=" this.src ='../../../assets/img/person1.png'" alt="User Image">
    <div class="user-star">
      <i class="rating" *ngFor="let i of [].constructor(comment?.rating)">


        <i class="fas fa-star"></i>
      </i>

      <div class="user-name">{{comment?.userName}}</div>
    </div>
  </div>
  <div class="user-coment">
    <p>
     {{comment?.comment}}
    </p>
  </div>

</div>
