<div class="revew-slide ">
  <i class="fas fa-quote-right"></i>

  <div class="user-data">
    <img src="../../../assets/img/user3.jpg" alt="">
    <div class="user-star">
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>

      <div class="user-name">sam del</div>
    </div>
  </div>
  <div class="user-coment">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, voluptates. Eum sunt ab ullam voluptas
      cumque velit, aliquid, quos fuga quaerat minus eius corrupti quidem laudantium provident repudiandae
      molestias aperiam?
    </p>
  </div>

</div>
