<div class="choice-form container">
  <div class="select-form">

    <div class="add-btn">
      <a (click)="openDialog()">Add Recipes</a>
    </div>
  </div>
</div>
<div class="content ">
  <div>
    <h3 class="sub-heading">Your Recipes </h3>
  </div>
  <div class="content-items container">

    <div *ngFor="let i of userRecipe">
      <app-user-recipe [recipees]="i"></app-user-recipe>

    </div>

    <div class="spanner" *ngIf="!userRecipe?.length">

      <div>
        <img src="../../../assets/img/dish-spinner-removebg-preview.png" alt="">
        <span>Add some recipe to see it here </span>
      </div>
    </div>
  </div>

</div>
