<div class="ueer-page">
  <div class="user-data">
    <div class="favorate">
      <div class="fav-icon">
        <a href=""><i class="fa-solid fa-heart"></i> </a>
      </div>
      <h3>Favorate</h3>
    </div>

        <div class="sugeest">
      <div class="fav-icon">
        <a href=""><i class="fa-solid fa-bowl-food"></i></a>
      </div>
      <h3>suggestion</h3>
    </div>
    <div class="recipe">
      <div class="fav-icon">
        <a routerLink="../userRecipe"><i class="fa-solid fa-utensils"></i></a>
      </div>
      <h3>Your Recipes</h3>
    </div>

    <div class="cocktail">
      <div class="fav-icon">
        <a routerLink="../userCocktail"><i class="fa-solid fa-martini-glass-citrus"></i></a>
      </div>
      <h3>Your Cocktails</h3>
    </div>
  </div>
  <div class="user-profile">
    <div class="image">
      <img src="../../../assets/img/user3.jpg" alt="">
    </div>
    <div class="user-account-data">
      <h3> User Name</h3>
      <h2>Email000@gmail.com</h2>
    </div>
  </div>
</div>
