<div class="ueer-page">
  <div class="user-data">
    <div class="favorate">
      <div class="fav-icon">
        <a routerLink="../favorate"><i class="fa-solid fa-heart"></i> </a>
      </div>
      <h3>Favorate</h3>
    </div>

        <div class="sugeest">
      <div class="fav-icon">
        <a routerLink="../sugest"><i class="fa-solid fa-bowl-food  "></i></a>
      </div>
      <h3>suggestion</h3>
    </div>
    <div class="recipe">
      <div class="fav-icon">
        <a routerLink="../userRecipe"><i class="fa-solid fa-utensils"></i></a>
      </div>
      <h3>Your Recipes</h3>
    </div>

    <div class="cocktail">
      <div class="fav-icon">
        <a routerLink="../userCocktail"><i class="fa-solid fa-martini-glass-citrus"></i></a>
      </div>
      <h3>Your Cocktails</h3>
    </div>
  </div>
  <div class="user-profile">
    <div class="image">
      <img [src]="userImge"  onerror=" this.src ='../../../assets/img/person-icon.png'" alt="User Image">
    </div>
    <div class="user-account-data">
      <h3> {{user?.fname }}  {{user?.lname}}</h3>
      <h2>{{user?.email}}</h2>
    </div>
  </div>
</div>
