<body>
  <div class="container-page sign-up-mode">
    <div class="forms-container">
      <div class="signin-signup">

        <form [formGroup]="registerForm" action="" (ngSubmit)="creatUser()" class="sign-up-form">


          <h2 class="title">Sign up</h2>
          <div class="name">
            <div class="input-field ">
              <i class="fas fa-user"></i>
              <input type="text" id="fname" name="fname" placeholder="First Name" formControlName="fname" />

            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" id="lname" name="lname" placeholder="Last Name" formControlName="lname" />
            </div>
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="Email" formControlName="email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="Password" formControlName="password" />
          </div>
          <div class="input-field">
            <i class="fa-solid fa-image"></i>
            <input type="text" id="img" name="img" placeholder=" Image URL" formControlName="imgUrl" />
          </div>
          <div class="input-field">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" id="address" name="address" placeholder="address" formControlName="addres" />
          </div>
          <div class="name">
            <div class="input-field ">
              <i class="fa-solid fa-person-cane"></i>
              <input type="number" id="age" name="age" placeholder="Age" formControlName="age" />
            </div>
            <div class="input-field">
              <i class="fa-solid fa-venus-mars"></i>
              <select name="gender" id="gender" class="" [(ngModel)]="g" formControlName="gender">
                <option disabled selected>Gender</option>
                <option [ngValue]="gg" *ngFor="let gg of gender">{{gg}}</option>
              </select>
            </div>
          </div>
          <input type="submit" class="btn" value="Sign up" />

        </form>
      </div>
    </div>

    <div class="panels-container">
      <div>
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            laboriosam ad deleniti.
          </p>
          <button class="btn transparent" id="sign-in-btn" routerLink="../login">
            Sign in
          </button>
        </div>
        <div class="ani">
          <img src="../../assets/img/recipe-register-food.png " class="image " style="width: 100%;" alt="" />
        </div>
      </div>
    </div>
  </div>


</body>
