<div class="choice-form container">
  <div class="select-form">

    <div class="add-btn">
      <a (click)="openDialog()">Add Coctail</a>
    </div>
  </div>
</div>
<div class="content ">
  <div>
    <h3 class="sub-heading">Your cocktail </h3>
  </div>
  <div class="content-items container">
    <div *ngFor="let i of userCocktail">
      <app-user-cocktail [cocktail]="i"></app-user-cocktail>

    </div>
    <div class="spanner" *ngIf="!userCocktail?.length">

      <div>
        <img src="../../../assets/img/pexels-ttr.png" alt="">
        <span>Add some cocktail to see it here </span>
      </div>
    </div>
  </div>

</div>
