<div class="about-section ">
  <div>
    <h3 class="sub-heading">Recipe Detail </h3>
   
  </div>
  <div>
    <div class="about-content container">
      <div class="image">
        <img src="{{recipe.image}}" alt="">

      </div>
      <div class="aboute-text">
        <h1>{{recipe.title}} </h1>
        <p>{{recipe.instructions}}</p>

        <div class="item-rating">
          <mat-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>
        </div>
        <div class="detail-buttons">
            <input type="submit"class="delete-btn  " value="Delete">
            <input type="submit"class="share-btn  " value="Share">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="searsh mb-5">
  <div class="mb-3 inp ">
    <label for="staticEmail" class="col-sm-2 col-form-label">Add comment</label>
    <div class="col-sm-10 col-lg-4 ">
      <!-- <textarea name="" id="staticEmail" cols="30" rows="10"></textarea> -->
      <form action="">
        <input type="text" class="form-control bg-light" id="staticEmail">
      </form>
    </div>
  </div>

</div>
<div class="coments container mb-5">
  <div *ngFor="let coment of coments">
    <app-user-coment></app-user-coment>
  </div>
</div>
