  <div class="container-page">
    <div class="forms-container">
      <div class="signin-signup">
        <form #log="ngForm" (ngSubmit)="login(log)" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="Email" ngModel required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input #password="ngModel" type="password" id="password" name="password" placeholder="Password" ngModel />
          </div>
          <input type="submit" value="Login" class="btn solid" />
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
            ex ratione. Aliquid!
          </p>
          <button class="btn transparent" id="sign-up-btn" routerLink="../register">Sign up</button>
        </div>
        <div class="ani">
          <img src="../../assets/img/recipe-login-food.png " class="image" alt="" />
        </div>
      </div>
      <div class="panel right-panel">
        <div class="content"></div>
      </div>
    </div>
  </div>
