@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: 0.6s all linear;
}
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadwo: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
