<div class="box">
  <div>
    <a (click)="favorate()"><i class="fa-solid fa-heart" [ngClass]="cardser.isfavorate(recipe) ? 'fav' : ''"></i></a>
  </div>
  <div class="image">
    <img [src]="recipe?.image" alt="">
  </div>
  <div class="box-content">
    <p class="title">{{recipe?.title}} </p>
  </div>
  <div class="box-btn">
    <span class="servings">{{recipe?.servings}}</span>
    <a  class="btn"   (click)="navigateToRecipeDetails(recipe)"> Details</a>
    <!-- <a  class="btn"   routerLink="/itemDetail/3" [state]="{ hello: 'world' }"> Details</a> -->

  </div>
</div>
