.btn {
  padding: 7px 30px;
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
  background: var(--black);
  transition: 1s all;
}
 .box .image {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .box {
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border: 3px solid rgba(255, 255, 255, 0.3) !important;
  box-shadow: var(--box-shadwo);
  padding: 10px 50px;
  margin: 10px;
  position: relative;
}

  .box .fa-heart,
  .box .fa-eye {
  position: absolute;
  top:30px;

  background: #eee;
  border-radius: 50%;
  height:50px;
  width: 50px;
  line-height: 50px;
  font-size:25px;
  color: var(--black);
  transition: 1s all;
}
  .box .fa-heart:hover,
  .box .fa-eye:hover {
  background-color: var(--green);
  color: #fff;

}
 .box .fa-heart {
  right: -50px;
}
 .box .fa-eye {
  left: -50px;
}
 .box:hover .fa-eye{
left: 25px;
}
 .box:hover .fa-heart{
  right: 25px;
  }
 .box p{
  font-size: large;
  font-weight: bolder;
  margin: 20px 0px;
}
 .box span{
  font-size: large;
  padding:0px 10px;
  font-weight: 500;
}
 .box a:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}
 .box .image img {
  height: 100%;
}
