<div class="box">
  <div>

    <a (click)="favorate()"><i class="fa-solid fa-heart " [ngClass]="cardser.isfavorate(coctail) ? 'fav' : ''"></i></a>
  </div>
  <div class="image">
    <img [src]="coctail?.image" alt="" onerror=" this.src ='../../../assets/img/default-recipe-image.gif'">
  </div>
  <div class="box-content">
    <p class="title">{{coctail?.name}} </p>
  </div>
  <div class="box-btn">
    <span class="servings"></span>
    <a class="btn" (click)="navigateToCocktailDetails(coctail)"> Details</a>
  </div>
</div>
